### Importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Reading File into dataframe

In [2]:
df=pd.read_json('../travee/dataset.json')

In [3]:
df.head()

,pid,en_type,name,category,agg_rating,email,facilities,inventory,prices,lat,long,numberOfFeedbacks,feedback,Ftags,priceRange
0,60330,HOTEL,Royal Palace Hotel,hotel,5.0,royalpalacehotel@gmail.com,[],NaN,[],-36.64943,-18.59665,7,"[{'pid': 950009, 'lang': 'en', 'loc_id': 60330...",[],NaN
1,59888,HOTEL,Ocean View Hotel,hotel,5.0,oceanviewhotel@gmail.com,[],NaN,[],-18.59665,-15.74197,1,"[{'pid': 343722, 'lang': 'en', 'loc_id': 59888...",[],"₹1,475"
2,91560,HOTEL,Grand Plaza Hotel,hotel,5.0,grandplazahotel@gmail.com,[],11.0,[],-15.74197,33.30524,15,"[{'pid': 333842, 'lang': 'en', 'loc_id': 91560...",[],"₹6,637 - ₹7,047"
3,30409,HOTEL,Sunset View Hotel,hotel,5.0,sunsetviewhotel@gmail.com,[],6.0,[],33.30524,-67.65205,1,"[{'pid': 93565, 'lang': 'en', 'loc_id': 30409,...",[],NaN
4,27489,HOTEL,Golden Sands Hotel,hotel,3.5,goldensandshotel@gmail.com,[],12.0,[],-67.65205,-92.26539,42,"[{'pid': 976906, 'lang': 'en', 'loc_id': 27489...","[{'text': 'tree house', 'review_count': 3}, {'...","₹901 - ₹1,475"

In [4]:
#Taking out feedback reviews from the feedback column and appending into new list
data=[]
for i in range(0,df.shape[0]):
    data.append(df['feedback'].iloc[i])

In [5]:
#concating all the list into single list
concatenated_list = [item for sublist in data for item in sublist]

In [6]:
df_fb=pd.DataFrame(data=concatenated_list)

In [7]:
df_fb.head()

,pid,lang,loc_id,rating,en_type,free_text,user,feedback_title,subrating,partner_attribution
0,950009,en,60330,5,review,The room was clean and comfortable. I had a gr...,None,Good stay good value,[],NaN
1,175995,en,60330,5,review,The staff was friendly and helpful. They made ...,None,Excellent,[],NaN
2,922855,en,60330,5,review,The hotel had a great rooftop bar with stunnin...,None,Excellent,[],NaN
3,27080,en,60330,5,review,The breakfast buffet was delicious and had a g...,None,Excellent place to stay,[],NaN
4,905095,en,60330,4,review,The location of the hotel was perfect for a be...,None,Enjoyed the Stay,[],NaN

In [8]:
df_new=df[['pid','name']]  #creating new dataframe of only pid and hotel names

In [9]:
df_fb_new=df_fb[['loc_id','free_text']]  #creating new dataframe of only loc_d and free_text

In [10]:
df_fb_new

     loc_id                                          free_text
0     60330  The room was clean and comfortable. I had a gr...
1     60330  The staff was friendly and helpful. They made ...
2     60330  The hotel had a great rooftop bar with stunnin...
3     60330  The breakfast buffet was delicious and had a g...
4     60330  The location of the hotel was perfect for a be...
..      ...                                                ...
219    9847  The hotel had a great restaurant with deliciou...
220    9847  The breakfast buffet was delicious and had a g...
221   46638  The location of the hotel was perfect for a be...
222   46638  The location of the hotel was perfect for a be...
223   46638  The location of the hotel was perfect for a be...

[224 rows x 2 columns]

In [11]:
df_new

      pid                name
0   60330  Royal Palace Hotel
1   59888    Ocean View Hotel
2   91560   Grand Plaza Hotel
3   30409   Sunset View Hotel
4   27489  Golden Sands Hotel
5   64012  Royal Garden Hotel
6   43477      Sapphire Hotel
7   65693      Paradise Hotel
8    9847       Emerald Hotel
9   37921       Diamond Hotel
10  46638   Blue Lagoon Hotel
11  19447  Green Valley Hotel

### Left Joining both the data Frames

In [12]:
result=pd.merge(df_new,df_fb_new,how='left',left_on='pid',right_on='loc_id')

In [13]:
result=result[['name','free_text']]  #taking out only hotel names and reviews from the joined table

In [14]:
result

                   name                                          free_text
0    Royal Palace Hotel  The room was clean and comfortable. I had a gr...
1    Royal Palace Hotel  The staff was friendly and helpful. They made ...
2    Royal Palace Hotel  The hotel had a great rooftop bar with stunnin...
3    Royal Palace Hotel  The breakfast buffet was delicious and had a g...
4    Royal Palace Hotel  The location of the hotel was perfect for a be...
..                  ...                                                ...
221       Diamond Hotel                                                NaN
222   Blue Lagoon Hotel  The location of the hotel was perfect for a be...
223   Blue Lagoon Hotel  The location of the hotel was perfect for a be...
224   Blue Lagoon Hotel  The location of the hotel was perfect for a be...
225  Green Valley Hotel                                                NaN

[226 rows x 2 columns]

In [15]:
#creating new data frame by concatinating all the reviews of the same hotels
hotel_feedback = result.groupby('name')['free_text'].apply(lambda x: ' '.join(x.dropna())).reset_index()

In [16]:
hotel_feedback  #new concatinated reviews dataframe

                  name                                          free_text
0    Blue Lagoon Hotel  The location of the hotel was perfect for a be...
1        Diamond Hotel
2        Emerald Hotel  The room was clean and comfortable. I had a gr...
3   Golden Sands Hotel  The hotel had a great garden. I was able to re...
4    Grand Plaza Hotel  The staff was friendly and helpful. They made ...
5   Green Valley Hotel
6     Ocean View Hotel  The hotel had a beautiful rooftop pool with st...
7       Paradise Hotel  The room was clean and comfortable. I had a gr...
8   Royal Garden Hotel  The Paradise Hotel was a great place to stay. ...
9   Royal Palace Hotel  The room was clean and comfortable. I had a gr...
10      Sapphire Hotel  The location of the hotel was perfect for expl...
11   Sunset View Hotel  The location of the hotel was perfect for expl...

### importing keybert library for keyword extraction

In [17]:
from keybert import KeyBERT

C:\Users\samwa\AppData\Roaming\Python\Python310\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [18]:
#creating model and appending keywords into list
a=[]
kw_model=KeyBERT()
for i in range(0,12):
    keywords=kw_model.extract_keywords(hotel_feedback['free_text'].iloc[i],keyphrase_ngram_range=(1,1),use_maxsum=True,top_n=10)
    a.append(keywords)

In [19]:
(a)

[[('stunning', 0.1762),
  ('diamond', 0.1984),
  ('rooftop', 0.2014),
  ('royal', 0.2419),
  ('pool', 0.2429),
  ('comfortable', 0.2441),
  ('enjoyed', 0.2531),
  ('exploring', 0.2536),
  ('buffet', 0.2923),
  ('restaurants', 0.3679)],
 [],
 [('ocean', 0.2298),
  ('enjoyed', 0.2401),
  ('palace', 0.2495),
  ('emerald', 0.2659),
  ('vacation', 0.268),
  ('gardens', 0.274),
  ('comfortable', 0.2798),
  ('sapphire', 0.2989),
  ('restaurants', 0.3139),
  ('amenities', 0.3897)],
 [('pool', 0.243),
  ('enjoyed', 0.2444),
  ('gardens', 0.2689),
  ('exploring', 0.2693),
  ('emerald', 0.2753),
  ('spacious', 0.2839),
  ('breathtaking', 0.293),
  ('vacation', 0.3107),
  ('buffet', 0.3448),
  ('restaurants', 0.3525)],
 [('exploring', 0.204),
  ('palace', 0.207),
  ('enjoyed', 0.2154),
  ('emerald', 0.2457),
  ('breathtaking', 0.2657),
  ('vacation', 0.2685),
  ('pool', 0.2834),
  ('sapphire', 0.3356),
  ('restaurants', 0.3543),
  ('buffet', 0.3558)],
 [],
 [('good', 0.0643),
  ('stay', 0.0759),
  ('able', 0.0975),
  ('gym', 0.1483),
  ('views', 0.16),
  ('variety', 0.1674),
  ('stunning', 0.1822),
  ('pool', 0.2625),
  ('breakfast', 0.3677),
  ('buffet', 0.5408)],
 [('great', 0.1072),
  ('spending', 0.1131),
  ('stay', 0.1389),
  ('sleep', 0.1541),
  ('blue', 0.1704),
  ('friendly', 0.1818),
  ('enjoyed', 0.1847),
  ('restaurant', 0.2949),
  ('pool', 0.323),
  ('lagoon', 0.466)],
 [('delicious', 0.1814),
  ('rooftop', 0.1849),
  ('stunning', 0.2044),
  ('diamond', 0.2364),
  ('comfortable', 0.2387),
  ('room', 0.2422),
  ('exploring', 0.2547),
  ('royal', 0.2787),
  ('buffet', 0.2956),
  ('gardens', 0.4004)],
 [('stay', 0.1525),
  ('definitely', 0.159),
  ('rooftop', 0.1645),
  ('staff', 0.2043),
  ('emerald', 0.2124),
  ('restaurants', 0.2177),
  ('enjoyed', 0.2229),
  ('diamond', 0.2555),
  ('comfortable', 0.263),
  ('pool', 0.3173)],
 [('spacious', 0.2541),
  ('enjoyable', 0.2546),
  ('gardens', 0.2563),
  ('rooftop', 0.2566),
  ('pool', 0.2594),
  ('exploring', 0.2671),
  ('vacation', 0.2914),
  ('breathtaking', 0.2967),
  ('buffet', 0.3026),
  ('sapphire', 0.3945)],
 [('shops', 0.1177),
  ('unwind', 0.1203),
  ('definitely', 0.1378),
  ('stay', 0.1629),
  ('comfortable', 0.1744),
  ('exploring', 0.1783),
  ('spa', 0.2124),
  ('green', 0.2388),
  ('buffet', 0.2509),
  ('sunset', 0.3155)]]

In [20]:
b=list(hotel_feedback['name'])

In [21]:
#creating dictionary for key value pairs of hotel names and their keywords
my_dict = dict(zip(b,a))

In [22]:
my_dict

{'Blue Lagoon Hotel': [('stunning', 0.1762),
  ('diamond', 0.1984),
  ('rooftop', 0.2014),
  ('royal', 0.2419),
  ('pool', 0.2429),
  ('comfortable', 0.2441),
  ('enjoyed', 0.2531),
  ('exploring', 0.2536),
  ('buffet', 0.2923),
  ('restaurants', 0.3679)],
 'Diamond Hotel': [],
 'Emerald Hotel': [('ocean', 0.2298),
  ('enjoyed', 0.2401),
  ('palace', 0.2495),
  ('emerald', 0.2659),
  ('vacation', 0.268),
  ('gardens', 0.274),
  ('comfortable', 0.2798),
  ('sapphire', 0.2989),
  ('restaurants', 0.3139),
  ('amenities', 0.3897)],
 'Golden Sands Hotel': [('pool', 0.243),
  ('enjoyed', 0.2444),
  ('gardens', 0.2689),
  ('exploring', 0.2693),
  ('emerald', 0.2753),
  ('spacious', 0.2839),
  ('breathtaking', 0.293),
  ('vacation', 0.3107),
  ('buffet', 0.3448),
  ('restaurants', 0.3525)],
 'Grand Plaza Hotel': [('exploring', 0.204),
  ('palace', 0.207),
  ('enjoyed', 0.2154),
  ('emerald', 0.2457),
  ('breathtaking', 0.2657),
  ('vacation', 0.2685),
  ('pool', 0.2834),
  ('sapphire', 0.3356),
  ('restaurants', 0.3543),
  ('buffet', 0.3558)],
 'Green Valley Hotel': [],
 'Ocean View Hotel': [('good', 0.0643),
  ('stay', 0.0759),
  ('able', 0.0975),
  ('gym', 0.1483),
  ('views', 0.16),
  ('variety', 0.1674),
  ('stunning', 0.1822),
  ('pool', 0.2625),
  ('breakfast', 0.3677),
  ('buffet', 0.5408)],
 'Paradise Hotel': [('great', 0.1072),
  ('spending', 0.1131),
  ('stay', 0.1389),
  ('sleep', 0.1541),
  ('blue', 0.1704),
  ('friendly', 0.1818),
  ('enjoyed', 0.1847),
  ('restaurant', 0.2949),
  ('pool', 0.323),
  ('lagoon', 0.466)],
 'Royal Garden Hotel': [('delicious', 0.1814),
  ('rooftop', 0.1849),
  ('stunning', 0.2044),
  ('diamond', 0.2364),
  ('comfortable', 0.2387),
  ('room', 0.2422),
  ('exploring', 0.2547),
  ('royal', 0.2787),
  ('buffet', 0.2956),
  ('gardens', 0.4004)],
 'Royal Palace Hotel': [('stay', 0.1525),
  ('definitely', 0.159),
  ('rooftop', 0.1645),
  ('staff', 0.2043),
  ('emerald', 0.2124),
  ('restaurants', 0.2177),
  ('enjoyed', 0.2229),
  ('diamond', 0.2555),
  ('comfortable', 0.263),
  ('pool', 0.3173)],
 'Sapphire Hotel': [('spacious', 0.2541),
  ('enjoyable', 0.2546),
  ('gardens', 0.2563),
  ('rooftop', 0.2566),
  ('pool', 0.2594),
  ('exploring', 0.2671),
  ('vacation', 0.2914),
  ('breathtaking', 0.2967),
  ('buffet', 0.3026),
  ('sapphire', 0.3945)],
 'Sunset View Hotel': [('shops', 0.1177),
  ('unwind', 0.1203),
  ('definitely', 0.1378),
  ('stay', 0.1629),
  ('comfortable', 0.1744),
  ('exploring', 0.1783),
  ('spa', 0.2124),
  ('green', 0.2388),
  ('buffet', 0.2509),
  ('sunset', 0.3155)]}

In [23]:
#taking out only the keywords from the inside value tuples 
new_dict = {hotel: [item[0] for item in items if item] for hotel, items in my_dict.items()}

In [24]:
new_dict

{'Blue Lagoon Hotel': ['stunning',
  'diamond',
  'rooftop',
  'royal',
  'pool',
  'comfortable',
  'enjoyed',
  'exploring',
  'buffet',
  'restaurants'],
 'Diamond Hotel': [],
 'Emerald Hotel': ['ocean',
  'enjoyed',
  'palace',
  'emerald',
  'vacation',
  'gardens',
  'comfortable',
  'sapphire',
  'restaurants',
  'amenities'],
 'Golden Sands Hotel': ['pool',
  'enjoyed',
  'gardens',
  'exploring',
  'emerald',
  'spacious',
  'breathtaking',
  'vacation',
  'buffet',
  'restaurants'],
 'Grand Plaza Hotel': ['exploring',
  'palace',
  'enjoyed',
  'emerald',
  'breathtaking',
  'vacation',
  'pool',
  'sapphire',
  'restaurants',
  'buffet'],
 'Green Valley Hotel': [],
 'Ocean View Hotel': ['good',
  'stay',
  'able',
  'gym',
  'views',
  'variety',
  'stunning',
  'pool',
  'breakfast',
  'buffet'],
 'Paradise Hotel': ['great',
  'spending',
  'stay',
  'sleep',
  'blue',
  'friendly',
  'enjoyed',
  'restaurant',
  'pool',
  'lagoon'],
 'Royal Garden Hotel': ['delicious',
  'rooftop',
  'stunning',
  'diamond',
  'comfortable',
  'room',
  'exploring',
  'royal',
  'buffet',
  'gardens'],
 'Royal Palace Hotel': ['stay',
  'definitely',
  'rooftop',
  'staff',
  'emerald',
  'restaurants',
  'enjoyed',
  'diamond',
  'comfortable',
  'pool'],
 'Sapphire Hotel': ['spacious',
  'enjoyable',
  'gardens',
  'rooftop',
  'pool',
  'exploring',
  'vacation',
  'breathtaking',
  'buffet',
  'sapphire'],
 'Sunset View Hotel': ['shops',
  'unwind',
  'definitely',
  'stay',
  'comfortable',
  'exploring',
  'spa',
  'green',
  'buffet',
  'sunset']}

In [25]:
#creating final dataFrame of hotels and keywords
submit = pd.DataFrame({'Hotels':hotel_feedback['name'],'Keywords':new_dict.values()})

In [26]:
submit

                Hotels                                           Keywords
0    Blue Lagoon Hotel  [stunning, diamond, rooftop, royal, pool, comf...
1        Diamond Hotel                                                 []
2        Emerald Hotel  [ocean, enjoyed, palace, emerald, vacation, ga...
3   Golden Sands Hotel  [pool, enjoyed, gardens, exploring, emerald, s...
4    Grand Plaza Hotel  [exploring, palace, enjoyed, emerald, breathta...
5   Green Valley Hotel                                                 []
6     Ocean View Hotel  [good, stay, able, gym, views, variety, stunni...
7       Paradise Hotel  [great, spending, stay, sleep, blue, friendly,...
8   Royal Garden Hotel  [delicious, rooftop, stunning, diamond, comfor...
9   Royal Palace Hotel  [stay, definitely, rooftop, staff, emerald, re...
10      Sapphire Hotel  [spacious, enjoyable, gardens, rooftop, pool, ...
11   Sunset View Hotel  [shops, unwind, definitely, stay, comfortable,...

### Saving the keywords into csv file

In [27]:
submit.to_csv('Samruddhi_keywords_extracted.csv',index=False)

### Loading and saving models into pkl file

In [28]:
import pickle

In [29]:
pickle.dump(kw_model,open('keyword_extract.pkl','wb'))

In [30]:
load_model=pickle.load(open('keyword_extract.pkl','rb'))